.cascading-right {
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(30px);
}

.border-bottom {
  border-bottom: 1px solid #030760 !important;
}

.mb-5 {
  margin-bottom: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1rem !important;
}

.w-100 {
  width: 100% !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.shadow-4 {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075) !important;
}

.align-items-center {
  align-items: center !important;
}

.g-0 {
  gap: 0 !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

#form3,
#form4 {
  border-radius: 0 !important;
  border: 2px solid #030760 !important;
  background-color: #030760 !important;
  padding: 0.5rem 0.75rem !important;
  color: #fff;
  z-index: 1;
}

.image-container {
  height: 100%;
  position: relative;
}

.image-container img {
  object-fit: cover;
  height: 100%;
  width: auto;
}
